* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-gray);

  --white: #ffffff;
  --black: #000000;
  --light-gray: #999999;
  --dark-gray: #303030;
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  padding: 32px 24px;
}

@media screen and (min-width: 768px) {
  #app {
    padding: 80px 0 64px 64px;
  }
}

@media screen and (min-width: 1024px) {
  #app {
    padding: 56px 0 98px 165px;
  }
}